[core]
    editor = vim
    # Use diff-highlight if available
    pager = "if [ -f /usr/local/share/git-core/contrib/diff-highlight/diff-highlight ]; then /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less; else less; fi"
[user]
    name = Lucas Flowers
    email = 31171608+lucas-flowers@users.noreply.github.com
[alias]
    lp = log --full-diff --patch
    l = log --oneline --all --decorate --graph
    d = diff --word-diff
[grep]
    perlRegexp = true
    perl-regexp = true
[push]
    default = simple
[rebase]
    autosquash = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[commit]
    verbose = true
[init]
	defaultBranch = main
