[core]
    editor = vim
    pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[user]
    name = Lucas Flowers
    email = 31171608+lucas-flowers@users.noreply.github.com
[alias]
    lp = log --full-diff --patch
    l = log --oneline --all --decorate --graph
    d = diff --word-diff
[grep]
    perlRegexp = true
    perl-regexp = true
[push]
    default = simple
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[commit]
	verbose = true
